@page
@model ADONetMovie_RazorPages.Pages.Bookings.CreateBookingModel
@{
}

<form>
    <p>
        Search:
        <input type="text" asp-for="FilterCriteria"  readonly class="form_datetime">
        <input type="submit" value="Filter" />
        <a asp-page="/Bookings/CreateBooking">Back to Full List </a>
    </p>
</form>
<h4 style="color:red"> List of actors</h4>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Size
            </th>
            <th>
                Capacity
            </th>
            

        </tr>
    </thead>
    <tbody>

        @if (Model.Rooms != null)

            @foreach (var item in Model.Rooms)
            {
                <tr>
                    <td>
                        @item.RoomId
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.Copacity
                    </td>
                   

                </tr>
            }
</table>

